Django==5.1.1
pytest-django==4.9.0
drf-spectacular==0.27.2
celery[rabbitmq]==5.4.0
django-celery-beat==2.7.0
psycopg2-binary==2.9.9
django-rest-authtoken==2.1.4
django-extensions==3.2.3
model-bakery==1.19.5
